.panel-observer {
    transition: height 0.5s linear;
    overflow: auto;
    height: 150px;
}

.panel-observer.ng-hide {
    height: 0;
}

.panel-observer .close {
    position: relative;
    top: 8px;
    right: 13px;
}

.panel-observer .event {
    margin: 10px;
}
