<span data-ng-class="event.class">
    [{{event.time*1000 | date:'dd-MM-yyyy HH:mm:ss'}}]

    <span data-ng-switch="event.event">
        <span data-ng-switch-when="createJobSet">Job Set created.</span>
        <span data-ng-switch-when="progressJobSet">Job Set is running.</span>
        <span data-ng-switch-when="finishJobSet">Job Set finished.</span>
        <span data-ng-switch-when="cleanJobSet">Job Set cleaned.</span>
    </span>

    <span data-ng-if="event.job && event.node">
        {{event.job.label || event.type}}
        ({{event.node}}<span data-ng-if="event.redirect"> -> {{event.redirect}}</span>).
    </span>

    <span data-ng-if="event.summary">
        Delayed work ({{event.summary}}).
    </span>

    <span data-ng-switch="event.event">
        <span data-ng-switch-when="create">Created.</span>
        <span data-ng-switch-when="redirect">Redirected.</span>
        <span data-ng-switch-when="clean">Cleaned.</span>
        <span data-ng-switch-when="createDelayedWork">Created.</span>
        <span data-ng-switch-when="updateDelayedWork">Updated.</span>
        <span data-ng-switch-when="processDelayedWork">Processed.</span>
        <span data-ng-switch-when="skipDelayedWork">Skipped.</span>
        <span data-ng-switch-when="deleteDelayedWork">Deleted.</span>
    </span>

    <span data-ng-if="event.event === 'progress' || event.event === 'progressJobSet'">
        <span data-ng-if="event.state">State: {{event.state}}.</span>
        <span data-ng-if="event.progress">Progress: {{event.progress}}.</span>
        <span data-ng-if="event.log && event.log.message">{{event.log.message}}.</span>
    </span>

    <span data-ng-if="event.event === 'finish'">
        Finished: {{event.message}}.
    </span>
</span>
