{
    "attachments": [ {
        "title": "
            [% IF job && node %]
                [% job.label || type %] ([% node %][% redirect ? ' -> ' _ redirect : '' %])
            [% ELSE %]
                Job Set
            [% END %]
        ",
        "text": "
            [% IF event == 'create' || event == 'createJobSet' %]
                created
            [% ELSIF event == 'progress' || event == 'progressJobSet' %]
                [% state || progress || log.message | replace( '"', '\"' ) %]
            [% ELSIF event == 'finish' %]
                [% message | replace( '"', '\"' ) %]
            [% ELSIF event == 'finishJobSet' %]
                finished
            [% ELSIF event == 'clean' || event == 'cleanJobSet' %]
                cleaned
            [%  END %]
        ",
        [% IF (event == 'finish' && success) || event == 'finishJobSet' %]
            "color": "good"
        [% ELSIF (event == 'finish' && !success) || event == 'clean' || event == 'cleanJobSet' %]
            "color": "danger"
        [% END %]
    },
    [% IF data && data.text %]
        {
            "text": "[% data.text | replace( '"', '\"' ) %]"
        }
    [% END %]
    ]
}
