{
    "attachments": [ {
        "title": "
            [% IF job && node %]
                [% job.label || type %] ([% node %][% redirect ? ' -> ' _ redirect : '' %])
            [% ELSIF summary && (delayTime || crontab) %]
                Delayed work
            [% ELSIF event == 'getDelayedWorks' %]
                Delayed works
            [% ELSE %]
                Job Set
            [% END %]
        ",
        "text": "
            [% IF event == 'create' || event == 'createJobSet' || event == 'createDelayedWork' %]
                created
            [% ELSIF event == 'updateDelayedWork' %]
                updated
            [% ELSIF event == 'processDelayedWork' %]
                processed
            [% ELSIF event == 'skipDelayedWork' %]
                skipped
            [% ELSIF event == 'deleteDelayedWork' %]
                deleted
            [% ELSIF event == 'progress' || event == 'progressJobSet' %]
                [% state || progress || log.message | replace( '"', '\"' ) %]
            [% ELSIF event == 'finish' %]
                [% message | replace( '"', '\"' ) %]
            [% ELSIF event == 'finishJobSet' %]
                finished
            [% ELSIF event == 'clean' || event == 'cleanJobSet' %]
                cleaned
            [% ELSIF event == 'getDelayedWorks' %]
                [% IF works.size %]
                    [% FOREACH work IN works %]
                        [% '\n\n' _ work.id %]. [% work.summary %] (
                            [%- IF work.time %][% work.time %][% END %]
                            [%- IF work.crontab %][% work.crontab %]
                                [%- IF work.skip %], skip [% work.skip %][% END %]
                                [%- IF work.pause %], paused[% END %]
                            [%- END %])
                        [% '\n' %]Created by '[% work.props.author %]' at [% work.props.time %]
                    [% END %]
                [% ELSE %]
                    No delayed works.
                [% END %]
            [%  END %]
        ",
        [% IF (event == 'finish' && success) || event == 'finishJobSet' || event == 'processDelayedWork' %]
            "color": "good"
        [% ELSIF (event == 'finish' && !success) || event == 'clean' || event == 'cleanJobSet' ||
                  event == 'skipDelayedWork' || event == 'deleteDelayedWork'
        %]
            "color": "danger"
        [% END %]
    },
    [% IF data && data.text %]
        {
            "text": "[% data.text | replace( '"', '\"' ) %]"
        }
    [% END %]
    ]
}
