{
    "attachments": [ {
        "title": "
            [% IF job && node %]
                [% job.label %] ([% node %][% progress && progress.redirect ? ' -> ' _ progress.redirect : '' %])
            [% ELSE %]
                Job Set
            [% END %]
        ",
        "text": "
            [% IF event == 'progress' || event == 'progressJobSet' %]
                [% progress.state || progress.progress || progress.log.message %]
            [% ELSIF event == 'finish' %]
                [% message %]
            [%  END %]
        ",
        "color": "[% event == 'finish' ? (success ? 'good' : 'danger') : (event == 'finishJobSet' ? 'good' : '') %]",
    } ]
}
