{
    "channel": "[% config.channel || '' %]",
    "attachments": [ {
        "title": "[% IF event == 'create' %]Job created
            [% ELSIF event == 'redirect' %]Job redirected
            [% ELSIF event == 'progress' %]Job is running
            [% ELSIF event == 'finish' %]Job finished
            [% ELSIF event == 'clean' %]Job cleaned
            [% ELSIF event == 'createJobSet' %]Job Set created
            [% ELSIF event == 'progressJobSet' %]Job Set is running
            [% ELSIF event == 'finishJobSet' %]Job Set finished
            [% ELSIF event == 'cleanJobSet' %]Job Set cleaned
            [% END %]",
        [% IF (event == 'finish' && success) || event == 'finishJobSet' %]
            "color": "good",
        [% ELSIF (event == 'finish' && !success) || event == 'clean' || event == 'cleanJobSet' %]
            "color": "danger",
        [% END %]
        [% IF props && props.author %]
            "author_name": "[% props.author %][% IF props.creator && props.creator != 'slack' %] ([% props.creator %])[% END %]",
        [%  END %]
        "fields": [
            [% IF job && node %]
                {
                    "title": "[% job.label || job.type %] ([% node %][% progress && progress.redirect ? ' -> ' _ progress.redirect : '' %])",
                    "value": "
                        [% IF params && params.size %]
                            [% FOR param IN params.pairs %]
                                [% '\n- ' %][% param.key %]: [% param.value %]
                            [% END %]
                        [% END %]",
                    "short": true
                },
            [% END %]

            [% IF jobs && jobs.size %]
                [% FOREACH job IN jobs %]
                    {
                        "title": "[% job.type %] ([% job.node %])",
                        "value": "
                            [% IF job.params && job.params.size %]
                                [% FOREACH param IN job.params.pairs %]
                                    [% '\n- ' %][% param.key %]: [% param.value %]
                                [% END %]
                            [% END %]",
                        "short": true
                    },
                [% END %]
            [% END %]

            [% IF event == 'progress' || event == 'progressJobSet' %]
                [% IF progress.state %]
                    {
                        "title": "State",
                        "value": "[% progress.state %]",
                        "short": true
                    },
                [% END %]
                [% IF progress.progress %]
                    {
                        "title": "Progress",
                        "value": "[% progress.progress %]",
                        "short": true
                    },
                [% END %]
                [% IF progress.log && progress.log.message %]
                    {
                        "title": "Message",
                        "value": "[% progress.log.message %]",
                        "short": true
                    },
                [% END %]
            [% ELSIF event == 'finish' %]
                    {
                        "title": "Result",
                        "value": "[% message %]",
                        "short": true
                    },
            [% END %]
        ]
    } ]
}
