<div class="row">
    <div class="col-sm-12" data-ng-if="jobs.length > 0">
        <h2>Новая задача</h2>

        <form>
            <div class="form-group" data-ng-if="groups.length > 0">
                <label class="sr-only" for="group">Группа:</label>
                <select id="group" class="form-control"
                        data-ng-model="data.group"
                        data-ng-options="group for group in groups"
                        data-ng-change="data.job = null; resetData()">
                    <option value="">--без группы--</option>
                </select>
            </div>
            <div class="form-group" data-ng-if="jobsByGroup[data.group].length > 0">
                <label class="sr-only" for="type">Задача:</label>
                <select id="type" class="form-control"
                        data-ng-model="data.job"
                        data-ng-options="job.type for job in jobsByGroup[data.group] track by job.type"
                        data-ng-change="resetData()">
                    <option value="">--выберите задачу--</option>
                </select>
            </div>
            <div data-ng-if="data.job != null">
                <div class="form-group">
                    <span>Запустить на:</span>
                    <label class="checkbox-inline" data-ng-repeat="node in data.job.nodes">
                        <input type="checkbox"
                               data-ng-model="data.nodes[node]"> {{node}}
                    </label>
                </div>
                <div class="form-group" data-ng-repeat="param in data.job.params track by param.name">
                    <div data-field data-param="param" data-params="data.params"></div>
                </div>
                <div class="form-group" data-ng-repeat="prop in props track by prop.name">
                    <div data-field data-param="prop" data-params="data.props"></div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" data-ng-click="createJobs()">Создать</button>
                </div>
            </div>
        </form>
    </div>
</div>
