<!--
Template for 'field' directive used when parameter type is 'datetime'.

Author:       LightStar
Created:      21.02.2018
Last update:  24.12.2018
-->

<label for="id-{{id}}">{{label}}:</label>
<div class="input-group">
  <input id="id-{{id}}" type="text" class="form-control"
         data-ng-model="date.date" data-ng-model-options="{ allowInvalid: true }" data-ng-change="date.change()"
         data-uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" data-is-open="date.opened"
         data-datepicker-options="date.options">
  <span class="input-group-btn">
    <button type="button" class="btn btn-default" data-ng-click="date.open()">
      <i class="glyphicon glyphicon-calendar"></i>
    </button>
  </span>
</div>
