<div data-ng-if="jobs.length > 0">
    <form>
        <div class="panel-group" role="tablist">
            <div class="panel panel-default" data-ng-repeat="jobToCreate in jobsToCreate">
                <div class="panel-heading" role="tab">
                    <span role="button" data-ng-click="jobToCreate.isCollapsed = !jobToCreate.isCollapsed">
                        {{jobToCreate.job === null ? 'Новая задача' : jobToCreate.job.label}}
                    </span>
                    <span class="pull-right glyphicon glyphicon-minus-sign text-danger" role="button"
                          data-ng-click="removeJobToCreate($index)"></span>
                </div>

                <div class="panel-collapse collapse" role="tabpanel" data-uib-collapse="jobToCreate.isCollapsed"
                     data-expanding="collapseAll($index)">
                    <div class="panel-body">
                        <div class="form-group" data-ng-if="groups.length > 0">
                            <label class="sr-only" for="group{{$index}}">Группа:</label>
                            <select id="group{{$index}}" class="form-control"
                                    data-ng-model="jobToCreate.group"
                                    data-ng-options="group for group in groups"
                                    data-ng-change="jobToCreate.job = null; resetJobToCreate(jobToCreate)">
                                <option value="">--без группы--</option>
                            </select>
                        </div>
                        <div class="form-group" data-ng-if="jobsByGroup[jobToCreate.group].length > 0">
                            <label class="sr-only" for="type{{$index}}">Задача:</label>
                            <select id="type{{$index}}" class="form-control"
                                    data-ng-model="jobToCreate.job"
                                    data-ng-options="job.label for job in jobsByGroup[jobToCreate.group] track by job.type"
                                    data-ng-change="resetJobToCreate(jobToCreate)">
                                <option value="">--выберите задачу--</option>
                            </select>
                        </div>
                        <div data-ng-if="jobToCreate.job != null">
                            <div class="form-group">
                                <span>Запустить на:</span>
                                <label class="checkbox-inline" data-ng-repeat="node in jobToCreate.job.nodes">
                                    <input type="checkbox"
                                           data-ng-model="jobToCreate.nodes[node]"> {{node}}
                                </label>
                            </div>
                            <div class="form-group"
                                 data-ng-repeat="param in jobToCreate.job.params track by param.name">
                                <div data-field data-param="param" data-params="jobToCreate.params"></div>
                            </div>
                            <div class="form-group" data-ng-repeat="prop in props track by prop.name">
                                <div data-field data-param="prop" data-params="jobToCreate.props"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="pull-right" style="padding-right: 16px;">
                <span class="glyphicon glyphicon-plus-sign text-success" role="button"
                      data-ng-click="addJobToCreate()"></span>
            </div>

            <div class="pull-left">
                <button class="btn btn-default" data-ng-click="createJobs()">Создать</button>
            </div>
        </div>
    </form>
</div>

<div data-ng-if="jobs.length === 0">
    <h4>Загрузка...</h4>
</div>
