<div class="form-group" data-ng-if="config.groups.length > 0">
    <label class="sr-only" for="group-{{id}}">Group:</label>
    <select id="group-{{id}}" class="form-control"
            data-ng-model="job.group"
            data-ng-options="group for group in config.groups"
            data-ng-change="job.proto = null; reset()">
        <option value="">--no group--</option>
    </select>
</div>
<div class="form-group" data-ng-if="config.jobsByGroup[job.group].length > 0">
    <label class="sr-only" for="job-{{id}}">Job:</label>
    <select id="job-{{id}}" class="form-control"
            data-ng-model="job.proto"
            data-ng-options="jobProto.label for jobProto in config.jobsByGroup[job.group] track by jobProto.type"
            data-ng-change="reset()">
        <option value="">--choose job--</option>
    </select>
</div>
<div data-ng-if="job.proto != null">
    <div class="form-group" data-ng-class="{'has-error': !isAnyNode}">
        <span>Run on:</span>
        <label class="checkbox-inline" data-ng-repeat="node in job.proto.nodes">
            <input type="checkbox" data-ng-model="job.nodes[node]" data-ng-change="validate()"> {{node}}
        </label>
        <span class="help-block has-error" data-ng-show="!isAnyNode">Choose at least one node</span>
    </div>
    <div class="form-group"
         data-ng-repeat="param in job.proto.params track by param.name"
         data-ng-class="{'has-error': !validParams[param.name]}">
        <div data-field data-type="param.type" data-label="param.label" data-name="param.name"
             data-values="job.params" data-change="validate()"></div>
        <span class="help-block" data-ng-show="!validParams[param.name]">Parameter is required</span>
    </div>
    <div class="form-group" data-ng-repeat="prop in config.props track by prop.name"
         data-ng-class="{'has-error': !validProps[prop.name]}">
        <div data-field data-type="prop.type" data-label="prop.label" data-name="prop.name"
             data-values="job.props" data-change="validate()"></div>
        <span class="help-block" data-ng-show="!validProps[prop.name]">Property is required</span>
    </div>
</div>
