<!--
Template for creator controller.

Author:       LightStar
Created:      15.11.2017
Last update:  11.01.2019
-->

<div data-alerts data-control="rootAlerts"></div>

<div data-ng-if="!config || config.jobs.length === 0">
  <h4>Loading...</h4>
</div>

<div data-ng-if="config && config.jobs.length > 0">
  <div data-observer data-config="config" data-add-event-listener="addEventListener(callback)"></div>

  <div class="container-mode-wrap">
    <div class="container-mode container-mode-jobs" data-ng-class="{ 'hidden': !isJobsMode() }">
      <div data-jobs data-config="config" data-control="jobsControl" data-action="processJobs()"
           data-delay="delay" data-result="jobs"></div>

      <div class="bottom-nav-buttons" data-ng-if="!config.delayRestricted.get">
        <a href role="button" data-ng-click="goToDelayedWorksMode()">
          Show delayed works
        </a>
      </div>
    </div>

    <div class="container-mode container-mode-delayed-works" data-ng-class="{ 'hidden': !isDelayedWorksMode() }">
      <div data-delayed-works data-config="config" data-error="error(message)"
           data-add-event-listener="addEventListener(callback)"
           data-edit-delayed-work="editDelayedWork(delay, jobs)"></div>

      <div class="bottom-nav-buttons">
        <a href role="button" data-ng-click="goToJobsMode()">
          &lt;&lt; Back
        </a>
      </div>
    </div>
  </div>
</div>
