<html>
<head>
    <title>Задание AnyJob</title>
</head>
<body>

<h3>
    [% IF event == 'create' %]Задание создано
    [% ELSIF event == 'redirect' %]Задание перенаправлено
    [% ELSIF event == 'progress' %]Задание выполняется
    [% ELSIF event == 'finish' %]Задание выполнено
    [% ELSIF event == 'createJobSet' %]Набор заданий создан
    [% ELSIF event == 'progressJobSet' %]Набор заданий выполняется
    [% ELSIF event == 'finishJobSet' %]Набор заданий выполнен
    [% END %]
</h3>

<div>
    [% IF jobset %]
        ID набора: <b>[% jobset %]</b><br>
    [% END %]

    [% IF id %]
        ID: <b>[% id %]</b><br>
    [% END %]

    [% IF time %]
        Время события: <b>[% time %]</b><br>
    [% END %]

    <br>

    [% IF type && node %]
        Задание: <b>[% type %]</b><br>
        Хост: <b>[% node %][% progress && progress.redirect ? ' -> ' _ progress.redirect : '' %]</b><br>
        [% IF params && params.size %]
            Параметры:<br>
            [% FOR param IN params.pairs %]
                &nbsp;&nbsp;<b>[% param.key %]</b>: [% param.value %]<br>
            [% END %]
        [% END %]
        <br>
    [% END %]

    [% IF jobs && jobs.size %]
        [% FOREACH job IN jobs %]
            Задание: <b>[% job.type %]</b><br>
            Хост: <b>[% job.node %]</b><br>
            [% IF job.params && job.params.size %]
                Параметры:<br>
                [% FOREACH param IN job.params.pairs %]
                    &nbsp;&nbsp;<b>[% param.key %]</b>: [% param.value %]<br>
                [% END %]
            [% END %]
            <br>
        [% END %]
    [% END %]

    [% IF event == 'progress' || event == 'progressJobSet' %]
        [% IF progress.state %]
            Состояние: <b>[% progress.state %]</b><br>
        [% END %]
        [% IF progress.progress %]
            Прогресс: <b>[% progress.progress %]</b><br>
        [% END %]
    [% ELSIF event == 'finish' %]
        [% IF log && log.list.size %]
            Сообщения:<br>
            [% FOREACH row IN log.list %]
                [% IF row.time && row.message %]
                    &nbsp;&nbsp;[[% row.time %]] [% row.message %]<br>
                [% END %]
            [% END %]
            <br>
        [% END %]
        Результат: <b><span style="color:[% success ? 'green' : 'red' %]">[% message %]</span></b>
    [% END %]
</div>

</body>
</html>
