<!--
Template for 'delayedWorks' directive.

Author:       LightStar
Created:      06.01.2019
Last update:  07.01.2019
-->

<h3>Delayed works</h3>

<div class="text-muted" data-ng-if="works.length === 0">
  No delayed works.
</div>

<table class="table table-bordered table-striped" data-ng-if="works.length > 0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Summary</th>
    <th>Time</th>
    <th>Created by</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="work in works track by work.id">
    <td>{{work.id}}</td>
    <td>{{work.summary}}</td>
    <td>{{work.time}}</td>
    <td>{{work.props.author}} at {{work.props.time}}</td>
    <td class="text-nowrap table-cell-actions">
      <span class="glyphicon glyphicon-pencil text-info" role="button"
            data-ng-click="edit(work.id)" data-ng-if="!config.delayRestricted.edit"></span>
      <span class="glyphicon glyphicon-remove-circle text-danger" role="button"
            data-ng-click="delete(work.id)" data-ng-if="!config.delayRestricted.delete"></span>
    </td>
  </tr>
  </tbody>
</table>
