<!--
Template for 'delayedWorks' directive.

Author:       LightStar
Created:      06.01.2019
Last update:  31.01.2019
-->

<h3>Delayed works</h3>

<div class="text-muted" data-ng-if="works.length === 0">
  <span data-ng-if="!isLoaded">Loading...</span>
  <span data-ng-if="isLoaded">No delayed works.</span>
</div>

<table class="table table-bordered table-striped" data-ng-if="works.length > 0">
  <thead>
  <tr>
    <th>ID</th>
    <th>Summary</th>
    <th>Schedule</th>
    <th>Created by</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <tr data-ng-repeat="work in works track by work.id">
    <td>{{work.id}}</td>
    <td>{{work.summary}}</td>
    <td>
      <span data-ng-if="work.time">{{work.time}}</span>
      <span data-ng-if="work.crontab">{{work.crontab +
        (work.skip > 0 ? ', skip ' + work.skip : '') +  (work.pause ? ', paused' : '')}}</span>
    </td>
    <td>{{work.props.author}} at {{work.props.time}}</td>
    <td class="text-nowrap table-cell-actions">
      <span class="glyphicon glyphicon-pencil text-info" role="button"
            data-ng-click="editDelayedWork(prepareDelayedWorkForEdit(work.id))"
            data-ng-if="!config.delayRestricted['update'] && !work.delayRestricted['update']"></span>
      <span class="glyphicon glyphicon-remove-circle text-danger" role="button"
            data-ng-click="deleteDelayedWork(work.id)"
            data-ng-if="!config.delayRestricted['delete'] && !work.delayRestricted['delete']"></span>
    </td>
  </tr>
  </tbody>
</table>
