<!--
Template for 'jobs' directive.

Author:       LightStar
Created:      15.11.2017
Last update:  07.01.2019
-->

<form>
  <div class="panel-group" role="tablist">
    <div class="panel panel-default panel-job" data-ng-repeat="job in jobs">
      <div class="panel-heading" role="tab">
        <span role="button" data-ng-click="job.isCollapsed = !job.isCollapsed">
          {{(job.proto === undefined || job.proto === null) ? 'New job' : job.proto.label}}
        </span>
        <span class="pull-right glyphicon glyphicon-minus-sign text-danger" role="button"
              data-ng-click="remove($index)"></span>
      </div>

      <div class="panel-collapse collapse" role="tabpanel" data-uib-collapse="job.isCollapsed"
           data-expanding="collapse($index)">
        <div class="panel-body">
          <div data-job data-config="config" data-result="job" data-valid-changed="validate()"
               data-proto-changed="jobsChanged()"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix">
    <div class="pull-right add-job-icon">
      <span class="glyphicon glyphicon-plus-sign text-success" role="button"
            data-ng-click="add()"></span>
    </div>

    <div class="pull-left submit-container">
      <div data-submit data-config="config" data-control="submitControl" data-label="label" data-flags="flags"
           data-delay="delay" data-action="action()"></div>
    </div>
  </div>
</form>
