{
    "channel": "[% config.channel || '' %]",
    "attachments": [ {
        "title": "[% IF event == 'create' %]Задание создано
            [% ELSIF event == 'progress' %]Задание выполняется
            [% ELSIF event == 'finish' %]Задание выполнено
            [% ELSIF event == 'createJobSet' %]Набор заданий создан
            [% ELSIF event == 'progressJobSet' %]Набор заданий выполняется
            [% ELSIF event == 'finishJobSet' %]Набор заданий выполнен
            [% END %]",
        "color": "[% event == 'finish' ? (success ? 'good' : 'danger') : (event == 'finishJobSet' ? 'good' : '') %]",
        "fields": [
            [% IF type && node %]
                {
                    "title": "Задание",
                    "value": "[% type %] ([% node %])
                        [% IF params && params.size %]
                            [% FOR param IN params.pairs %]
                                [% '\n- ' %][% param.key %]: [% param.value %]
                            [% END %]
                        [% END %]",
                    "short": true
                },
            [% END %]

            [% IF jobs && jobs.size %]
                [% FOREACH job IN jobs %]
                    {
                        "title": "Задание",
                        "value": "[% job.type %] ([% job.node %])
                            [% IF job.params && job.params.size %]
                                [% FOREACH param IN job.params.pairs %]
                                    [% '\n- ' %][% param.key %]: [% param.value %]
                                [% END %]
                            [% END %]",
                        "short": true
                    },
                [% END %]
            [% END %]

            [% IF event == 'progress' || event == 'progressJobSet' %]
                [% IF progress.state %]
                    {
                        "title": "Состояние",
                        "value": "[% progress.state %]",
                        "short": true
                    },
                [% END %]
                [% IF progress.progress %]
                    {
                        "title": "Прогресс",
                        "value": "[% progress.progress %]",
                        "short": true
                    },
                [% END %]
                [% IF progress.log && progress.log.message %]
                    {
                        "title": "Соообщение",
                        "value": "[% progress.log.message %]",
                        "short": true
                    },
                [% END %]
            [% ELSIF event == 'finish' %]
                    {
                        "title": "Результат",
                        "value": "[% message %]",
                        "short": true
                    },
            [% END %]
        ]
    } ]
}
