<span data-ng-class="event.class">
    [{{event.time*1000 | date:'dd-MM-yyyy HH:mm:ss'}}]

    <span data-ng-switch="event.event">
        <span data-ng-switch-when="createJobSet">Job Set created.</span>
        <span data-ng-switch-when="progressJobSet">Job Set is running.</span>
        <span data-ng-switch-when="finishJobSet">Job Set finished.</span>
    </span>

    <span data-ng-if="event.type && event.node">
        {{config.jobsByType[event.type].label}}
        ({{event.node}}<span data-ng-if="event.progress && event.progress.redirect"> -> {{event.progress.redirect}}</span>).
    </span>

    <span data-ng-if="event.event === 'create'">
        Created.
    </span>

    <span data-ng-if="event.event === 'redirect'">
        Redirected.
    </span>

    <span data-ng-if="event.event === 'progress' || event.event === 'progressJobSet'">
        <span data-ng-if="event.progress.state">State: {{event.progress.state}}.</span>
        <span data-ng-if="event.progress.progress">Progress: {{event.progress.progress}}.</span>
        <span data-ng-if="event.progress.log && event.progress.log.message">{{event.progress.log.message}}.</span>
    </span>

    <span data-ng-if="event.event === 'finish'">
        Finished: {{event.message}}.
    </span>
</span>
