<!--
Template for 'submit' directive.

Author:       LightStar
Created:      21.12.2018
Last update:  24.12.2018
-->

<div class="form-inline">
  <div class="form-group">
    <button class="btn btn-default" data-ng-click="action()" data-ng-disabled="!flags.isValid || !delay.isValid">
      {{label}}
    </button>
    <p class="help-text">&nbsp;</p>
  </div>

  <div class="form-group" style="margin-left: 8px;">
    <div class="input-group">
      <input type="text" class="form-control"
             data-ng-model="date.date" data-ng-model-options="{ allowInvalid: true }" data-ng-change="date.change()"
             data-uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" data-is-open="date.opened"
             data-datepicker-options="date.options">

      <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-ng-click="date.open()">
              <i class="glyphicon glyphicon-calendar"></i>
            </button>
          </span>
    </div>
    <p class="help-text">&nbsp;</p>
  </div>
</div>
