<!--
Template for 'submit' directive.

Author:       LightStar
Created:      21.12.2018
Last update:  12.01.2019
-->

<div class="submit-group">
  <button class="btn btn-default btn-submit" data-ng-click="action()"
          data-ng-disabled="!flags.isValid || !delay.isValid || (delay.id && delay.isRestricted)">
    {{label}}
  </button>

  <div class="submit-delay-time" data-ng-class="{'has-error': !delay.isValid}"
       data-ng-if="delay.id || !delay.isRestricted">
    <label for="time-{{id}}" class="sr-only">Delay time:</label>
    <div class="input-group submit-delay-time-group">
      <input id="time-{{id}}" type="text" class="form-control"
             data-ng-model="date.date" data-ng-change="date.change()"
             data-uib-datepicker-popup="dd-MM-yyyy HH:mm:ss" data-is-open="date.opened"
             data-datepicker-options="date.options" data-datepicker-append-to-body="true">

      <span class="input-group-btn">
        <button type="button" class="btn btn-default" data-ng-click="date.open()">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="has-error submit-access-denied" data-ng-if="delay.id && delay.isRestricted">
  <span class="help-block">Access denied</span>
</div>
