<html>
<head>
    <title>AnyJob</title>
</head>
<body>

<h3>
    [% IF event == 'create' %]Job created
    [% ELSIF event == 'redirect' %]Job redirected
    [% ELSIF event == 'progress' %]Job is running
    [% ELSIF event == 'finish' %]Job finished
    [% ELSIF event == 'clean' %]Job cleaned
    [% ELSIF event == 'createJobSet' %]Job Set created
    [% ELSIF event == 'progressJobSet' %]Job Set is running
    [% ELSIF event == 'finishJobSet' %]Job Set finished
    [% ELSIF event == 'cleanJobSet' %]Job Set cleaned
    [% END %]
</h3>

<div>
    [% IF props && props.author %]
        Author: <b>[% props.author %][% IF props.creator %] ([% props.creator %])[% END %]</b><br>
    [% END %]

    [% IF jobset %]
        Job Set ID: <b>[% jobset %]</b><br>
    [% END %]

    [% IF id %]
        ID: <b>[% id %]</b><br>
    [% END %]

    [% IF time %]
        Event time: <b>[% time %]</b><br>
    [% END %]

    <br>

    [% IF job && node %]
        Job: <b>[% job.label || job.type %]</b><br>
        Node: <b>[% node %][% progress && progress.redirect ? ' -> ' _ progress.redirect : '' %]</b><br>
        [% IF params && params.size %]
            Parameters:<br>
            [% FOR param IN params.pairs %]
                &nbsp;&nbsp;<b>[% param.key %]</b>: [% param.value %]<br>
            [% END %]
        [% END %]
        <br>
    [% END %]

    [% IF jobs && jobs.size %]
        [% FOREACH job IN jobs %]
            Job: <b>[% job.type %]</b><br>
            Node: <b>[% job.node %]</b><br>
            [% IF job.params && job.params.size %]
                Parameters:<br>
                [% FOREACH param IN job.params.pairs %]
                    &nbsp;&nbsp;<b>[% param.key %]</b>: [% param.value %]<br>
                [% END %]
            [% END %]
            <br>
        [% END %]
    [% END %]

    [% IF event == 'progress' || event == 'progressJobSet' %]
        [% IF progress.state %]
            State: <b>[% progress.state %]</b><br>
        [% END %]
        [% IF progress.progress %]
            Progress: <b>[% progress.progress %]</b><br>
        [% END %]
    [% ELSIF event == 'finish' %]
        [% IF log && log.list.size %]
            Messages:<br>
            [% FOREACH row IN log.list %]
                [% IF row.time && row.message %]
                    [% FOREACH message IN row.message.split("\n") %]
                        &nbsp;&nbsp;[[% row.time %]] [% message %]<br>
                    [%  END %]
                [% END %]
            [% END %]
            <br>
        [% END %]
        Result: <b><span style="color:[% success ? 'green' : 'red' %]">[% message %]</span></b>
    [% END %]
</div>

</body>
</html>
